<table class="table">
  <tbody>
   <% dress.comments.each do |comment| %>
    <tr>
      <th scope="row"><%= comment.user.name %></th>
      <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= comment.comment %></td>
      <td>
       <% if comment.user == current_user %>
        <%= link_to "削除", dress_comment_path(comment.dress, comment), method: :delete, remote: true %>
       <% end %>
      </td>
     </tr>
    <% end %>
  </tbody>
</table>