  <div class="btn">
    <button type="button" class="btn btn-secondary">
      <% if current_user.following?(user) %>
        <%= link_to "フォロー中", user_relationships_path(user), class:"text-light", method: :delete, remote: true %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user), class:"text-light", method: :post, remote: true %>
      <% end %>
    </button>
  </div>
