<div class="container">
  <div class="row">
    <div class="col-2"></div>
     <div class="col-8 my-5">
       <h3 class="room-index text-center">メッセージ一覧</h3>

      <table class="table table-striped">
        <tbody>
          <tr>
            <td><% @another_entries.each do |entry| %>
              <%= link_to user_room_path(entry.user,entry.room) do %>
                <div class="chat-avatar">
                  <%= image_tag entry.user.get_user_image, size: "100x100" %>
                  <%= entry.user.name %>
                </div>
              <% end %>
            <% end %></td>
          </tr>
        </tbody>
      </table>

     </div>
    <div class="col-2"></div>
  </div>
</div>
