<div class="about-image my-5", style="text-align: center">
      <%= image_tag "/assets/top3.png", size:'300x300' %>
</div>
      <h1 class="text-dark text-center my-5">Welcome My Closet！</h1>
       <h4 class="text-dark text-center my-4">〜おうちのクローゼットを手の中に〜<h4>
       <h6 class="text-dark text-center my-5">簡単にお手持ちのアイテムを見返せる事で
       ショッピングや断捨離をお手伝いします。<br>
       また他のユーザのクローゼットを覗いて、コーディネートの参考にもしてください！</h6>

