<div class="jumbotron bg-white">
 <h1 class="display-3">Welcome My Closet</h1>
  <p class="lead">〜おうちのクローゼットを手の中に〜</p>
   <hr class="my-2">
    <p>簡単にお手持ちのアイテムを見返せる事で、ショッピングや断捨離をお手伝いします。また他のユーザのクローゼットを覗いて、コーディネートの参考にもしてください！</p>
   <p class="lead my-4">
    <a class="btn btn-secondary" href="/" role="button">Home</a>
  </p>
</div>