<div class="jumbotron bg-white">
  <h1 class="display-3">My Closet</h1>
  <p class="lead">〜おうちのクローゼットを手の中に〜</p>
  <hr class="my-2">
  <p class="lead my-4">
    <a class="btn btn-secondary" href="/users/sign_up" role="button">sign up</a>
    <a class="btn btn-secondary" href="/users/sign_in" role="button">log in</a>
    <a>
      <%= link_to 'guest login', users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
    </a>
  </p>
</div>

