<% if dress.favorited_by?(current_user) %>
  <p>
  <%= link_to dress_favorites_path(dress), method: :delete, remote: true do %>
  <i class="fas fa-thumbs-up"></i>
  <%= dress.favorites.count %>
  <% end %>
  </p>
  <% else %>
  <p>
  <%= link_to dress_favorites_path(dress), method: :post, remote: true do %>
  <i class="far fa-thumbs-up"></i>
  <%= dress.favorites.count %>
  <% end %>
  </p>
<% end %>