<div class="container">
  <div class="row">
    <div class="col-1"></div>
     <div class="col-10 my-5">
       <div class ="border border-dark pb-5">
          <h5 class="border-bottom border-dark text-center p-2"><strong>ジャンル検索</strong></h5>
           <%= form_with model: @season, class: 'boards__searchForm' do %>
            <% @seasons.each do |season| %>
              <div class="tag-box px-3">
                <%= link_to season.name, dresses_path(name: season.id), class:"text-dark" %>
              </div>
            <% end %>
              <div class="tag-box px-3">
                <%= link_to "all", dresses_path, class:"text-dark" %>
              </div>
          <% end %>
        </div>
      <%= render "dressindex", dresses: @dresses %>
     </div>
   <div class="col-1"></div>
  </div>
</div>
