<div class="container">
  <div class="row">
    <div class="col-2 my-5">
      <%= render "search", seasons: @seasons, categories: @categories, season: @season, category: @category %>
    </div>
     <div class="col-10 my-5">
      <%= render "dressindex", dresses: @dresses %>
     </div>
  </div>
</div>
