.main-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  margin: 0 auto;
}

.navbar-toggler {
  background: #808080;
  border-color: #808080;
}

.says {
  float: left;
  position: relative;
  width: fit-content;
  padding: 16px;
  background: #FFFFCC;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #FFFFCC;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.mycomment {
  float: right;
  position: relative;
  width: fit-content;
  padding: 16px;
  background: #DDDDDD;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.mycomment:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #DDDDDD;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
