<div class="container">
  <div class="row">
      <%= render "public/users/info", user: @user %>
  </div>

  <div class="row">
    <div class="col-1"></div>
     <div class="col-10">
      <h3 class="text-success">items</h3>
        <h5>シーズン検索</h5>
          <% user.dresses.each_slice(4) do |dress| %>
           <div class ="image">
             <% dress.each do |image| %>
              <%= link_to dress_path(dress)  do %>
               <%= image_tag image.get_image, size:'200x200' %>
              <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
    <div class="col-1"></div>
  </div>
</div>